:root {
    --Background: #0f0e17;
    --BackgroundCard: #1f1d30 ;
    --Headline: #fffffe;
    --Paragraph: #a7a9be;
    --Button: #ff8906;
    --ButtonText: #fffffe;
    --Stroke: black;
    --Main: #fffffe;
    --Highlight: #ff8906;
    --Secondary: #f25f4c;
    --Tertiary: #e53170;
}

body{
    background-color: var(--Background) !important;
}
.listContainer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.previewCardContainer {
    background-color: var(--BackgroundCard);
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
    border-radius: 3px;
    box-shadow: rgba(238, 36, 36, 0.4) 0px 0px 0px 2px, rgba(187, 116, 35, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.previewCardContainer:hover {
    transform: scale(1.1);
    box-shadow: rgba(238, 36, 36, 0.4) 0px 0px 0px 2px, rgba(187, 116, 35, 0.65) 0px 4px 16px 5px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.previewImg {
    width: 250px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.previewTitle {
    width: 250px;
    text-align: center;
    color: var(--Headline);
}
.previewAuthor {
    text-align: center;
    color: var(--Paragraph);
}
