:root {
    --Background: #0f0e17;
    --BackgroundCard: #1f1d30 ;
    --Headline: #fffffe;
    --Paragraph: #a7a9be;
    --Button: #ff8906;
    --ButtonText: #fffffe;
    --Stroke: black;
    --Main: #fffffe;
    --Highlight: #ff8906;
    --Secondary: #f25f4c;
    --Tertiary: #e53170;
}

body{
    background-color: var(--Background);
}
.listContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.bookCardContainer {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: min-content;
    gap: 5px;
    margin: 10px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--BackgroundCard);
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(238, 36, 36, 0.4) 0px 0px 0px 2px, rgba(187, 116, 35, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.bookCardContainer:hover {
    transform: scale(1.1);
    box-shadow: rgba(238, 36, 36, 0.4) 0px 0px 0px 2px, rgba(187, 116, 35, 0.65) 0px 4px 16px 5px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.bookImg {
    width: 220px;
    height: 292px;
}
.bookTitle {
    margin: 10px 5px;
    height: auto;
    color: var(--Headline);
    justify-content: center;
}
.bookAuthor {
    margin: 15px 5px;
    color: var(--Paragraph);
}
