
a{
    text-decoration:none!important;
    color: #0f0e17 !important;
    
}
.footer{
    background-color: #cececb;
}
.footer_logo{
    max-width: 100%;
    height: auto;
}
.text-footer{
margin:160px 0 0 150px;
    text-align: center;
}