
a{
    text-decoration:none!important;
    color: #0f0e17 !important;
    
}
.footer{
    background-color: #cececb;
    /* position: absolute;
    top: auto;
    bottom: 0; */
    
}
.footer_logo{
    max-width: 100%;
    height: auto;
}
.text-footer{
    text-align: center;
}
